<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
    </style>

  </head>
  <body>

    <div id="app">{{ message }}</div>

  </body>
</html>



<script>
  const { createApp, ref } = Vue

  createApp({
    setup() {
      const message = ref('Hello vue!')
      return {
        message
      }
    }
  }).mount('#app')
</script>