<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
    </style>

  </head>
  <body>

    <div id="app">{{ countDown }}</div>

  </body>
</html>

<script>
  const { createApp, ref } = Vue

  createApp(
  {
        data () {
            return {
                countDown: 10
            }
        },
        methods: {
            countDownTimer () {
                if (this.countDown > 0) {
                    setTimeout(() => {
                        this.countDown -= 1
                        this.countDownTimer()
                    }, 1000)
                }
            }
        },
        created () {
            this.countDownTimer()
        }
    }
  ).mount('#app')
</script>


