<div ng-controller="WishlistController">
  <div ng-include="'wishlist-header.html'"></div>
  <div class="container">
    <p>
      Here are a few wishist ideas we've managed to get out of Adam:
    </p>
  </div>

    <p>
    <div style="height: 100vh;">
      <div uib-carousel active="0" interval="5000">
        <div uib-slide ng-repeat="item in items | filter:{available:true}" index="$index">
          <img ng-src="{{imagePath}}{{item.image}}" style="margin:auto; border: 1px solid black; max-height:70vh; max-width:90vw; ">
          <div class="container">
            <div class="row">
              <div class="col-sm-2 col-sm-offset-3">
                <b>
                  Reference:
                </b>
              </div>
              <div class="col-sm-2 text-left">
                {{parseItem(item.image)}}
              </div>
            </div>
            <div ng-if="item.name" class="row">
              <div class="col-sm-2 col-sm-offset-3">
                <b>
                  Name:
                </b>
              </div>
              <div class="col-sm-2 text-left">
                {{item.name}}
              </div>
            </div>
            <div ng-if="item.price" class="row">
              <div class="col-sm-2 col-sm-offset-3">
                <b>
                  Price:
                </b>
              </div>
              <div class="col-sm-2 text-left">
                {{item.price}}
              </div>
            </div>
            <div ng-if="item.shop" class="row">
              <div class="col-sm-2 col-sm-offset-3">
                <b>
                  Shop:
                </b>
              </div>
              <div class="col-sm-2 text-left">
                {{item.shop}
              </div>
            </div>          
          </div>
        </div>
      </div>
    </div>
    </p>

  <p>
    20210630_2202
  </p>

</div>


