<div ng-controller="WishlistControllerOld">
  <div class="container">
    <p>
      Here are a few ideas we've managed to get out of Adam:
    </p>
    
    <p>
      <ul>
        <!--
        <li>
          Beyblade Burst Rise Hypersphere Vertical Drop Battle Set £35 [<a href="https://www.amazon.co.uk/dp/B07TZDZHC3/?coliid=I31OP1BKV8VK25&colid=YN9FXYLWO889&psc=1&ref_=lv_ov_lig_dp_it">Amazon</a>]
        </li>
        -->
        <!--
        <li>
          Nerf Vortex Aero Howler Foam Ball Long £10 [<a href="https://www.amazon.co.uk/dp/B092DHSNWH/?coliid=I1NOPB5WNYW4XE&colid=YN9FXYLWO889&psc=1&ref_=lv_ov_lig_dp_it">Amazon</a>]
        </li>
        -->
        <li>
          Wicked Outdoor Booma £8  [<a href="https://www.amazon.co.uk/dp/B0009EPYP8/?coliid=IIYHCV9AT39OZ&colid=YN9FXYLWO889&psc=1&ref_=lv_ov_lig_dp_it">Amazon</a>]
        </li>
        <li>
          Mobilo blocks
        </li>
        <li>
          Plaster of Paris and moulds
        </li>
        <!--
        <li>
          England football shirt
        </li>
        -->
      </ul>
    </p>
    
    <p>
      Below are a lot of pictures we grabbed while going around 
      <a href="https://www.smythstoys.com/uk/en-gb" target="_blank">Smyths Toys</a>
      and <a href="https://www.toymaster.co.uk/" target="_blank">Toy Master</a>.
    </p>
    <p>
      Click on the chevrons to the right and left of the images to scroll through the ideas.
    </p>
    <p>  
      If you'd like to get anything off this list (or something similar) please could you
      let us know the reference (see beneath the image) and we can remove it from the list.:
    </p>
    <br/>
    <p>
      <div style="height: 100vh;">
        <div uib-carousel active="0" interval="5000">
          <div uib-slide ng-repeat="slide in slides | filter:{available:true}" index="$index">
            <img ng-src="{{slide.image}}" style="margin:auto; border: 1px solid black; max-height:90vh; max-width:90vw; ">
            <!-- <div class="carousel-caption">
              <h4>Idea {{slide.image}}</h4>
              <p>{{slide.caption}}</p>
            </div> -->
            <p><b>Present Idea:</b> {{parseIdea(slide.image)}}</p>
          </div>
        </div>
      </div>    
    </p>
    
    <!--
    <p class="center">
      <div uib-carousel active="0" interval="5000">
        <div uib-slide ng-repeat="slide in slides" index="$index">
          <img ng-src="{{slide.image}}" style="margin:auto; max-height:305px">
          <div class="carousel-caption">
            <p></p>
          </div>
        </div>
      </div>
    </p>
    -->

    <p>
      20210630_2202
    </p>

  </div>
</div>

