<div ng-controller="ShopController">
  <div ng-controller="TestController">
    <div class="well well-danger" style="background-color:#131921; color:white; padding:2px; border-color: #131921; border-radius: 0px; margin-bottom: 0px;">
      <img src="app/resources/images/shop-logo.png"/>
    </div>
    <div class="navbar navbar-shop" >
      <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#/shop">All</a></li>
          <li><a href="#/shop">Prime Video</a></li>
          <li><a href="#/shop">Spring Sale</a></li>
          <li><a href="#/shop">Gift Ideas</a></li>
          <li><a href="#/shop">Morrisons</a></li>
          <li><a href="#/shop">Free Delivery</a></li>
          <li><a href="#/shop">Buy Again</a></li>
          <li><a href="#/shop">Shopper Toolkit</a></li>
          <li><a href="#/shop">Gift Cards & Top Up</a></li>
          <li><a href="#/shop">Health & Personal Care</a></li>
          <li><a href="#/shop">Toys & Games</a></li>
          <li><a href="#/shop">Pet Supplies</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="img-responsive" src="{{items.images[0]}}"/>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <div class="item-title">
              {{items.title}}
            </div>
            <div class="item-detail">
              <ul ng-repeat="text in items.detail">
                <li>{{text}}</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="item-price">
                      {{items.price}}
                    </div>
                  </div> 
                  <div class="col-sm-12"  ng-if="items.rrp">
                    <div class="item-rrp">
                      RRP: <span style="text-decoration:line-through;">{{items.rrp}}</span>
                    </div>
                  </div>  
                  <div class="col-sm-12"  ng-if="items.warn">
                    <div class="text-danger">
                      {{items.warn}}
                    </div>
                  </div> 
                  <div class="col-sm-12" ng-if="items.price">
                    <button class="btn btn-success pull-rght" ng-click="buy()">Buy Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="buy.html">
  <div class="modal-body" id="modal-body">
    <p class="text-004">
      Your order is on it's way.
    </p>
    <p class="center">
      <span class="glyphicon glyphicon-ok-circle text-005"></span>
    </p>
  </div>
</script>