<div ng-controller="ShopController">
  <div ng-include="'shop-header.html'"></div>
  <div class="container">
  
    <div ng-repeat="item in items">
      <div class="row">
        <div class="col-sm-12">
          <a href="#/shop/item/{{$index}}">{{item.title}}</a>
        </div>
      </div>
      <hr/>
    </div>

  </div>
</div>
