<div ng-controller="ShopController">
  <div ng-include="'shop-header.html'"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="img-responsive" src="{{items[itemIdx].images[0]}}"/>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <div class="item-title">
              {{items[itemIdx].title}}
            </div>
            <div class="item-detail">
              <ul ng-repeat="text in items[itemIdx].detail">
                <li>{{text}}</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="item-price">
                      {{items[itemIdx].price}}
                    </div>
                  </div> 
                  <div class="col-sm-12"  ng-if="items[itemIdx].rrp">
                    <div class="item-rrp">
                      RRP: <span style="text-decoration:line-through;">{{items[itemIdx].rrp}}</span>
                    </div>
                  </div>  
                  <div class="col-sm-12"  ng-if="items[itemIdx].warn">
                    <div class="text-danger">
                      {{items[itemIdx].warn}}
                    </div>
                  </div> 
                  <div class="col-sm-12" ng-if="items[itemIdx].price">
                    <button class="btn btn-success pull-rght" ng-click="buy()">Buy Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="buy.html">
  <div class="modal-body" id="modal-body">
    <p class="text-004">
      Your order is on it's way.
    </p>
    <p class="center">
      <span class="glyphicon glyphicon-ok-circle text-005"></span>
    </p>
  </div>
</script>