@font-face {
    font-family: "Comic Sans";
    src: url(../fonts/comic.ttf) format("truetype");
}
@font-face {
    font-family: "Comic Sans Bold";
    src: url(../fonts/comicbd.ttf) format("truetype");
}
.comicSans { 
    font-family: "Comic Sans", Verdana, Tahoma;
}
.comicSansBold { 
    font-family: "Comic Sans Bold", Verdana, Tahoma;
}
.title {
    /*color: yellow !important;*/
    color: black !important;
    font-family: "Comic Sans Bold", Verdana, Tahoma;
    font-size:24px;
    /*text-shadow: 10px 10px 10px black;*/
}
.pageBackground {
    /*background-color: #ffdb58;*/
    background-color: white;
}
.navbar-custom {
    /* background-image: url('../images/background-001.jpg');*/
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow:5px 5px 10px;
}
.navbar-shop {
    background-color: #232F3E;
    color:white;
    border-radius: 0px;
    min-height: 40px;
    height: 40px;
}

.navbar-shop li > a {
    color: white;
    font-weight: bold;
    padding: 2px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    border: 1px solid #232F3E;
    text-align: center;
}

.navbar-shop li > a:hover, li > a:focus {
    background: transparent !important;
    border: 1px solid white;
}

.item-title {
    font-size:x-large;
    font-weight: bold;
}

.item-detail {
    margin-top: 10px;
    font-size:smaller;
}

.item-price {
    font-size: x-large;
}

.item-rrp {
    font-size:smaller;
    color: dimgray;
    font-weight: bold;
}

.shadow {
    box-shadow:5px 5px 10px;
}
.text-001 {
    font-size: 16px;
    font-weight: bold;
    color: blue;    
}
.text-002 {
    font-size: 16px;
    font-weight: bold;
    color: black;    
}
.text-003 {
    font-size: 12px;
    font-style: italic;
    color: black;    
}
.text-004 {
    font-size: 16px;
    font-weight: bold;
    color: red;   
    text-align: center; 
}
.text-005 {
    font-size: 72px;
    font-weight: bold;
    color: green;   
    
}
.center {
    text-align: center; 
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
   color: red !important;
}
.Xcarousel-control {
  color: blue;
}

.Xcarousel-control .Xicon-prev, .Xcarousel-control .Xicon-next {
    font-size: 100px; 
    margin-top: -50px;
    color: red !important;
}


