<div ng-controller="ShopController">
  <div class="well shadow">
    <p class="text-001">
      TREASURE X Combo Saver
    </p>
    <p>
      Price: <span style="color: red; font-weight: bold;">£30</span>
    </p>
    <p class="text-002">
      TREASURE X Sunken Gold
    </p>
    
    <p class="center">
    
<div uib-carousel active="0" interval="5000">
     <div uib-slide ng-repeat="slide in slides" index="$index">
         <img ng-src="{{slide.image}}" style="margin:auto; max-height:305px">
         <div class="carousel-caption">
               <p></p>
         </div>
     </div>
</div>
    
      <img style="max-height: 400px;" src="./app/resources/images/sunken-gold-001.jpg" class="img-responsive" alt="Responsive image"/>
    </p>
    <p class="text-003">
      X marks the spot for a hunt like no other! Treasure X is the ultimate surprise-reveal collectible boys toy, with a
      multi layered reveal process, cool action figures, and the chance to find REAL GOLD DIPPED treasure.
    </p>
    <p class="text-002">
      TREASURE X Sunken Gold Shark's Treasure
    </p>
    <p class="center">
      <img style="max-height: 400px;" src="./app/resources/images/shark-bottle-001.jpg" class="img-responsive" alt="Responsive image"/>
    </p>
    <p class="text-003">
      The hunt for real GOLD dipped treasure continues with Treasure X Sunken Gold- Shark’s Treasure! What secrets of
      the deep will be revealed as you break open and unbox the Gold Armoured shark? Begin the 16 levels of adventure by
      taking the bottled shark off its display stand and cracking it apart with your dagger!
    </p>
    <div class="pull-rght">
      <button class="btn btn-success pull-rght" ng-click="buy()">Buy Now</button>
    </div>  
  </div>
</div>

<script type="text/ng-template" id="buy.html">
  <div class="modal-body" id="modal-body">
    <p class="text-004">
      Your order is on it's way.
    </p>
    <p class="center">
      <span class="glyphicon glyphicon-ok-circle text-005"></span>
    </p>
  </div>
</script>