<div ng-controller="HomeController">
  <div class="well well-info">
    Adam
  </div>
</div>

<a href="#/shop/items" >Shop</a><br/>
<a href="#/wishlist">Wistlist</a><br />
<a href="#/wishlist_old">Wistlist OLD</a><br />


